<section id="intro">
  <div class="container">
    <div class="left-content animated-element slide-left in-view">
      <div class="textIntro">
        <div class="row">
          <div class="col-sm-6">
            <img data-aos="fade-down"  src="../../../assets/bonjour.svg" alt="Bonjour et bienvenue">
            <img class="photo-profil rounded-circle" data-aos="fade-right" src="../../assets/photo_profil.png" alt="photo de profil">
            <p data-aos="fade-left" >Je m’appelle <br><span>Thomas Girard</span></p>
            <p data-aos="fade-up" >Je suis <br><span>développeur Web</span></p>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-header text-center">
                A propos de moi 
              </div>
              <div class="card-body">
                Apres plus de 15 ans dans le batiment, en reconversion professionnelle depuis 2020, dans le domaine du developpement web.
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</section>
