<section class="mt-5" id=intro>
  <div class="left-content animated-element slide-left in-view">
    <div class="textIntro">
      <img data-aos="fade-down"  src="../../../assets/bonjour.svg" alt="Bonjour et bienvenue">
      <a target="_blank" rel="noopener" href="../../assets/cv/cv.pdf" title="Cliquer ICI" aria-label="Cliquer ICI"><img class="qr-code" data-aos="fade-right" src="../../assets/QR_code.png" alt="photo de profil"></a>
      <img class="photo-profil" data-aos="fade-right" src="../../assets/photo_profil.png" alt="photo de profil">
      <img class="cv-ici" data-aos="fade-right" data-aos-delay="750" src="../../assets/cv_ICI.png" alt="indication du cv" style="margin-top: -15%;margin-right: 65%;">
      <p data-aos="fade-left" >Je m’appelle <br><span>Thomas Girard</span></p>
      <p data-aos="fade-up" >Je suis <br><span>développeur Web Junior</span></p>
    </div>
  </div>
</section>
