<header>

</header>

<div class="d-flex flex-column bg-light" style="width: 4.5rem;">
  <a href="/" class="d-block p-3 link-dark text-decoration-none">
    <img matTooltip="Acceuil" src="../assets/logo_black.png" class="img-thumbnail" alt="">
  </a>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li>
      <a href="#" class="nav-link py-3 border-bottom" >
        <i matTooltip="Formation" class="fas fa-book-open fa-2x text-danger"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <i matTooltip="Parcours" class="fas fa-route fa-2x text-danger"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <i matTooltip="Projets" class="fas fa-tasks fa-2x text-danger"></i>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 border-bottom">
        <i matTooltip="Contact" class="fas fa-envelope fa-2x text-danger"></i>
      </a>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>


<footer>

</footer>